*, *::before, *::after {
  box-sizing: border-box;
}

body{
  margin:0;
  background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.calculator-grid{
  display: grid;
  margin-top: 2rem;
  justify-content: center;
  grid-template-columns: repeat(4,6rem);
  grid-template-rows: minmax(7rem,auto) repeat(5,6rem);
}
.calculator-grid > .finlOutput {
  grid-column: 1/-1;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4,6rem);
  grid-template-rows: minmax(7rem,auto) repeat(5,6rem);
}
.calculator-grid > .finlOutput > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
  width: auto;
}
.calculator-grid > .finlOutput > button:hover,
.calculator-grid > .finlOutput > button:focus{
  background-color: rgba(255, 255, 255, .9);

}
.span-two{
  grid-column: span 2;
}


.output{
  grid-column: 1/-1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: .75rem;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 24px;
  font-weight: 300;
  color: white;
}
.output > .output-value{
  word-wrap: break-word;
  word-break: break-all;
  font-size: 24px;
  font-weight: 300;
  color: white;
}
.output span{
  font-size:14px;
  color: #888;
}
.img{
    cursor: pointer;
    position: relative;
    opacity: 0.3;
    height: 20px;
    width:12.5px;
    top: -10px;
  left: -342px;
}
.img:hover{
  opacity: 0.5;
}



